<section class="section-hero  inner-page fixed;" style="background:#1053BB;" id="home-section">
</section>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>  <!-- .site-mobile-menu -->


<!-- NAVBAR --> 


<header class="site-navbar mt-4">
    

  <div class="container-fluid">
    <div class="row align-items-center">
        <div class="site-logo col-6 "><a href="index.html" ><img src="assets/images/sarra.png" style="width: 100;"alt="" title=""></a></div>

      <nav class="mx-auto site-navigation d-flex aligin-items-center col-5">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/actualiteR">Actualité</a></li>
          <li><a href="offreR">Sponsoring</a></li>
          <li><a href="eventR">Event</a></li>
          <li><a href="coworkingR">Coworking</a></li>
          <li class="nav-item dropdown">
            <a class=" nav-icon"  (click)="showNotifications = !showNotifications">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" [ngClass]="{'show': showNotifications}">
              <li class="dropdown-header ">
                Vous avez 4 nouvelles notifications
                <a href="notificationR"><span class="badge rounded-pill bg-primary p-2 ms-2">Voir tout</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li class="notification-item p-4">
                <div>
                  <h5 style="color: #1053BB ;font-size: 19px;">Wevioo</h5>
                  <p>Un test envoyé par Wevioo vous attent</p>
                  <p class="small-text">30 min. ago</p>
                </div>
              </li>
          
              <li>
                <hr role="tabpanel"class="dropdown-divider">
              </li>
          
              <li class="notification-item p-4 ">
                <div>
                  <h5 style="color: #1053BB  ;font-size: 19px;">CareerBridge</h5>
                  <p>Vous atteint 75 Xp vous pouvez profiter une réduction sur la pack premium</p>
                  <p class="small-text">1 hr. ago</p>
                </div>
              </li>
          
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li class="dropdown-footer p-4">
                <a href="notificationR">Afficher toutes les notifications</a>
              </li>
            </ul>
          </li>            <li class="nav-item dropdown" style="color: aliceblue;">
            <div class="nav-link" id="dropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-grid-3x3-gap-fill large-icon"></i>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropDown">
              <a class="dropdown-item" href="#">Pack premium</a>
              <a class="dropdown-item "style="color: #2474A6;" href="#" >1Xp</a>
             
            </div>
          </li>
          <div class=" d-lg-none nav-item dropdown">
            <div class="nav-link " id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src=" assets/images/a.png" class="img-fluid rounded-circle " style="width: 40px;"> <!-- icône de profil -->
            </div>
            <div class="dropdown-menu " aria-labelledby="profileDropdown">
              <a class="dropdown-item " href="r">Profile</a> <!-- lien vers les paramètres -->
              <a class="dropdown-item " href="parametre">Paramétres</a> <!-- lien vers les paramètres -->

              <a class="dropdown-item " href="login">Déconnexion</a> <!-- lien de déconnexion -->
            </div>
          </div>   
          
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
        
            <div class=" .d-md-none .d-lg-block
            " id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src=" assets/images/a.png" class="img-fluid rounded-circle " style="width: 40px;"> <!-- icône de profil -->
            </div>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="c">Profile</a> <!-- lien vers les paramètres -->
              <a class="dropdown-item " href="parametre">Paramétres</a> <!-- lien vers les paramètres -->

              <a class="dropdown-item" href="login">Déconnexion</a> <!-- lien de déconnexion -->
            </div>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>


</header>



<body id="top">
  <body>

      
 
<!-- Hero Area End -->
      <!-- Job List Area Start -->
      <div class="job-listing-area pt-120 pb-120 ">
          <div class="container1 ml-5">
              <div class="row">
                  <!-- Left content -->
                  <div class="col-xl-3 col-lg-3 col-md-4">
                      <div class="row">
                          
                             
                                  
                              
                                    <div class="profile">
                                      <img src="assets/images/a.png" alt="" class="img-fluid rounded-circle">
                                      <h1 class="text-dark">Adactim</h1>
                                      <h2 class=" small text-dark mt-2 mb-2">adactim@gmail.com </h2>
                                      <h5 class=" small text-muted "><i class="bi bi-geo-alt"></i><a href="index.html">Ariana</a></h5>
                                      <div class="social-links mt-3 text-center"><div class="d-flex justify-content-center rounded-3 p-2 mb-2"
                                          >
                                          <div>
                                             
                                              <p class="mb-0">41</p>
                                              <p class="small text-muted mb-1">Evenement</p>
                                            </div><span class="mx-2">|</span>
                                            <div class="px-3">
                                              
                                              <p class="mb-0">9</p>
                                              <p class="small text-muted mb-1">Offre publieé</p>
                                            </div><span class="mx-2">|</span>
                                            <div>
                                              
                                              <p class="mb-0">8.5</p>
                                              <p class="small text-muted mb-1">Abonnés</p>
                                            </div> </div>
                                      </div>
                                    </div>
                                    
              <div class="col-md-6 mt-3 ">           
              <a class="btn   btn-block text-white" style="background-color: #1053BB; "href="c" type="button">Modifier</a>
            </div>
            <div class="col-md-6 mt-3 "> 
              <a class="btn   btn-block text-white" style="background-color: #6c757d; "href="candidaturesR" type="button">Mes Offres</a>
              <br> <br> 
                </div>         <h5 class="text-dark mt-2 mb-2">NOS VALEURS & ENGAGEMENTS </h5>   
                                <p class="small text-muted mb-1">Nos engagements et nos valeurs nous définissent et constituent le moteur de notre développement et la clé de notre réussite. Depuis toujours, nos priorités sont la satisfaction de nos clients, l’apport d’innovation, l’éthique de notre prestation ainsi que le bien être de nos employés.<br><br>    </p> 
                              
                           


                                </div>
                     
                      <!-- Job Category Listing End -->
                

                      </div>
                  






                  <!-- Right content -->
                  <div class="col-xl-8 col-lg-8 col-md-8">
                      <!-- Featured_job_start -->
                      <section class="featured-job-area">
                          <div class="container ">
                              <!-- Count of Job list Start -->
                              <div class="row">
                                  
                                  <div class="col-lg-12">


      
     
  
<style>

      /* styling search bar */
      .search input[type=text]{
          width:600px;
          height:25px;
          border:20px;
          border-color: #1053BB;
      }
           
      .search{
          float:center;
          margin:5px;
      }
           
      .search button{
          background-color: #1053BB;
          color: #f2f2f2;
          float: right;
          padding: 5px 10px;
          margin-right: 16px;
          font-size: 12px;
          border: none;
          cursor: pointer;
      }

</style>

<!-- Job Category Listing start -->
<div class="job-category-listing mb-5 ">
<!-- single one -->
<div class="single-listing">
   
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
  
      <div class="container">
        
        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

          <div class="col-md-11">
            

            <img src="/assets/images/boubli.png"  class="img-fluid" alt=""></div>
            <div class="col-md-2">
            <a href="#"><img src="assets/images/boublilogo.png" class="img-fluid rounded-circle " style="width:90px " alt=""></a><label class=" ml-3"style="font-size:px,text-secondary">
            </label>
            
            </div>
            
          <div class="col-md-10">
            

            <p   style="font-size: large; color:#2474A6;">Boubli Club Isamm
            </p>
            <p   style="font-size: 17px; color:#ADA7A7;">Club Universitaire à l'ISAMM 
              Propulsé par ATDCE Maison de @BOUBLI & @FREESH
              
            </p>

         
          </div>
         
          <div class="col-md-12">
            <p  style="font-size: 15px; color:#ADA7A7;"> Boubli&nbsp;• &nbsp;ISAMM  &nbsp;•&nbsp;Mannouba</p>

              <a href="#!">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                  class="img-fluid rounded-circle me-1" width="23">
              </a>
              <a href="#!">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" alt="avatar"
                  class="img-fluid rounded-circle me-1" width="23">
              </a>
              <a href="#!">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp" alt="avatar"
                  class="img-fluid rounded-circle me-1" width="23">
                </a><label style="font-size: 15px; color:#ADA7A7;">3 Personnes de votre réseau suivent Wevioo
                 
                </label>
               
         </div>
        
          
        
  
        </div><!-- Features Item -->
</div></section>
   
       

    
            
<div class="modal-footer justify-content-start">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">S’abonner</button>
  <a button type="button" class="btn btn-custom text-white ml-3" href="c" style="color:#1053BB;">Details demande</a>
</div>
       
        </div></div>













                                  </div>
                              </div>
                           
                    
<!-- Job Category Listing start -->
<div class="job-category-listing mb-5 ">
  <!-- single one -->
  <div class="single-listing">
     
      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
    
        <div class="container">
          
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
  
            <div class="col-md-11">
              
  
              <img src="/assets/images/tunivisions1.png"  style="width: 800;" class="img-fluid" alt=""></div>
              <div class="col-md-2">
              <a href="#"><img src="assets/images/t.png" class="img-fluid rounded-circle " style="width:90px " alt=""></a><label class=" ml-3"style="font-size:px,text-secondary">
              </label>
              
              </div>
              
            <div class="col-md-10">
              
  
              <p   style="font-size: large; color:#1053BB;">Tunivisions Club Isamm
              </p>
              <p   style="font-size: 17px; color:#ADA7A7;">Mediavision Editing va révolutionner cette nouvelle année universitaire
                
              </p>
  
           
            </div>
           
            <div class="col-md-12">
              <p  style="font-size: 15px; color:#ADA7A7;"> Boubli&nbsp;• &nbsp;ISAMM  &nbsp;•&nbsp;Mannouba</p>
  
                <a href="#!">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                    class="img-fluid rounded-circle me-1" width="23">
                </a>
                <a href="#!">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" alt="avatar"
                    class="img-fluid rounded-circle me-1" width="23">
                </a>
                <a href="#!">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp" alt="avatar"
                    class="img-fluid rounded-circle me-1" width="23">
                  </a><label style="font-size: 15px; color:#ADA7A7;">3 Personnes de votre réseau suivent Wevioo
                   
                  </label>
                 
           </div>
          
            
          
    
          </div><!-- Features Item -->
  </div></section>
     
         
  
      
              
  <div class="modal-footer justify-content-start">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">S’abonner</button>
    <a button type="button" class="btn btn-custom text-white ml-3" href="c" style="color:#1053BB;">Details demande</a>
  </div>
         
          </div></div>
  
  
  
  
  
  
  
  
  
  
  
  
  









                              
                           
                 



        </div>



   

                     <!-- Job Category Listing start -->
<div class="job-category-listing mb-5 ">
  <!-- single one -->
  <div class="single-listing">
     
      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
    
        <div class="container">
          
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
  
            <div class="col-md-11">
              
  
              <img src="/assets/images/orenda.jpg"  style="width: 800;" class="img-fluid" alt=""></div>
              <div class="col-md-2">
              <a href="#"><img src="assets/images/orendalogo.jpg" class="img-fluid rounded-circle " style="width:90px " alt=""></a><label class=" ml-3"style="font-size:px,text-secondary">
              </label>
              
              </div>
              
            <div class="col-md-10">
              
  
              <p   style="font-size: large; color:#1053BB;">Orenda Club Isamm
              </p>
              <p   style="font-size: 17px; color:#ADA7A7;">Orenda junior Enterprise is a non profit organization with economic and educational vocation founded
                
              </p>
  
           
            </div>
           
            <div class="col-md-12">
              <p  style="font-size: 15px; color:#ADA7A7;"> Boubli&nbsp;• &nbsp;ISAMM  &nbsp;•&nbsp;Mannouba</p>
  
                <a href="#!">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                    class="img-fluid rounded-circle me-1" width="23">
                </a>
                <a href="#!">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" alt="avatar"
                    class="img-fluid rounded-circle me-1" width="23">
                </a>
                <a href="#!">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp" alt="avatar"
                    class="img-fluid rounded-circle me-1" width="23">
                  </a><label style="font-size: 15px; color:#ADA7A7;">3 Personnes de votre réseau suivent Wevioo
                   
                  </label>
                 
           </div>
          
            
          
    
          </div><!-- Features Item -->
  </div></section>
     
         
  
      
              
  <div class="modal-footer justify-content-start">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">S’abonner</button>
    <a button type="button" class="btn btn-custom text-white ml-3" href="c" style="color:#1053BB;">Details demande</a>
  </div>
         
          </div></div>
  
  
  
  
           
                              
                              
                              
                              
                              
                              





                              
                              
                                    
                                        







                 