





<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>  <!-- .site-mobile-menu -->
  

  <!-- NAVBAR --> 
  <header class="site-navbar mt-4">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6 mt-3"><a href="index.html" ><img src="assets/images/br.png" style="width: 120;"alt="" title=""></a></div>

        <nav class="mx-auto site-navigation d-flex aligin-items-center col-5">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><a href="candidat">Candidat</a></li>
            <li><a href="recreture">Recruteur</a></li>
            <li><a href="club">Club</a></li>
            <li><a href="propritaire">Propritaire</a></li>
            <li class="d-lg-none"><a href="/login"><span class="mr-2 icon-lock_outline"></span>Se connecter</a></li>
            <li class="d-lg-none"><a href="/iscrit"><span class="mr-2 icon-lock_outline"></span>Créer compte</a></li>
            
          </ul>
        </nav>
        
        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
          <div class="ml-auto">
           
            <a href="/login" class="btn btn-a border-width-2 d-none d-lg-inline-block text-white"><span class="mr-2 icon-add"></span>Se connecte</a>
            <a href="/inscrit" class="btn btn-log border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Créer compte</a>
          </div>
          <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
        </div>

      </div>
    </div>




    
  </header>





<body id="top">
   
 

   
  <!-- HOME -->
  <section class="home-section section-hero overlay bg-image" style="background-image: url('assets/images/1.jpg');" id="home-section">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="mb-5 text-center">
            <h1 class="text-white font-weight-bold">Développez votre réseau professionnel</h1>
            <p>Élargissez votre champ d'action en rencontrant des professionnels de votre domaine et en explorant de nouvelles possibilités.</p>
          </div>
          <form method="post" class="search-jobs-form">
            <div class="row mb-5">
            
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <select class="form-select form-control" data-style="btn-white btn-lg" data-width="100%" data-live-search="false" title="Services Proposées">
                  <option>Emploi</option>
                  <option>Stages</option>
                  <option>Events</option>
                  <option>Coworking</option>
                 
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0 ">
                <select class="form-select form-control" data-style="btn-white btn-lg" data-width="100%" data-live-search="true" title="Select Région ">
                  <option selected>Select Région</option>
                  <option value="MONASTIR">MONASTIR</option>
                  <option value="TUNIS">TUNIS</option>
                  <option value="SOUSSE">SOUSSE</option>
                  <option value="MAHDIA">MAHDIA</option>
                  <option value="SFAX">SFAX</option>
                  <option value="GABES">GABES</option>
                  <option value="MEDNINE">MEDNINE</option>
                  <option value="TATAOUINE">TATAOUINE</option>
                  <option value="KEBILI">KEBILI</option>
                  <option value="GAFSA">GAFSA</option>
                  <option value="TOZEUR">TOZEUR</option>
                  <option value="ARIANA">ARIANA</option>
                  <option value="BEN AROUS">BEN AROUS</option>
                  <option value="MANOUBA">MANOUBA</option>
                  <option value="BEJA">BEJA</option>
                  <option value="JANDOUBA">JANDOUBA</option>
                  <option value="EL KEF">EL KEF</option>
                  <option value="SIDI BOUZID">SIDI BOUZID</option>
                  <option value="KASSERINE">KASSERINE</option>
                  <option value="SELIANA">SELIANA</option>
                  <option value="BIZERTE">BIZERTE</option>
                  <option value="KAIROUAN">KAIROUAN</option>
                  <option value="NABEUL">NABEUL</option>
                  <option value="ZAGHOUAN">ZAGHOUAN</option>
                  <option value="Medjez elbeb">Medjez elbeb</option>
                  <option value="Tunis">Tunis</option>
                  <option value="Medjez elbeb">Medjez elbeb</option>
                  <option value="Medjez elbeb">Medjez elbeb</option>
                  
                
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0 ">
               
                <input type="text" class="form-control  form-control-lg" placeholder="mot clé..." aria-label="">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 ">
                <button type="submit" class="btn-a btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Chercher</button>
                
              </div>
            </div>
            
           
          </form>
        </div>
      </div>
    </div>
    

  </section>
  

 
  <section class="py-1 bg-image overlay-primary fixed overlay" id="next" style="background: linear-gradient(120deg,#54bfb5, #033e8c);">
    <div class="container">
      <div class="row mb-2 justify-content-center">
        
        </div>
      </div>
      <div class="row pb-0 block__19738 section-counter">

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-2">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <strong class="number" data-number="+100">0</strong>
          </div>
          <span class="caption">Candidates</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <strong class="number" data-number="50">0</strong>
          </div>
          <span class="caption">Employeurs</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <strong class="number" data-number="12">0</strong>
          </div>
          <span class="caption">Club</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <strong class="number" data-number="29">0</strong>
          </div>
          <span class="caption">Propritaire</span>
        </div>

          
      </div>
   
  </section>
  
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header  ">
          <h2>Offres</h2>
         <p>  Cherchez les opportunités parmi nos offres</p>
        </div>
        </div>
        
  <!-- ======= Values Section ======= -->
  <section id="values" class="values">

    <div class="container " data-aos="fade-up">

     
       
     

      <div class="row">

        <div class="col-lg-4 " data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/images/R.png" class="img-fluid" alt="">
            <h3>offre d’emploi</h3>
            <p>Product Designer</p>
            <p>Missions principales :  implémentez et intégrez des composants logiciels et des solutions complètes .</p>
            <div class=" ">
              <div class="items-link">
                <a style="background-color: #17a2b8;"href="job_details.html">Details</a>
              
            </div>
        </div>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/images/j.png" class="img-fluid" alt="">
            <h3>Événement</h3>
           <h1></h1>
          
            <p> L'AMI, TJI-META</p>
            <p>consacré à la découverte des dernières évolutions et innovations de le métavers appliquée.</p>
            <div class=" ">
              <div class="items-link">
                <a style="background-color: #17a2b8;"href="job_details.html">Details</a>
              
            </div></div>
</div>
</div>
        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/images/w.png" class="img-fluid" alt="">
            <h3>Coworking-space</h3>
            <p>espace de travail</p>
            <p>Situé dans le nouveau pôle d'affaires de Tunis, notre centre Tunis Carthage bénéficie d'un emplacement idéal .</p>
            <div class=" ">
              <div class="items-link">
                <a style="background-color: #17a2b8;"href="job_details.html">Details</a>
              
            </div>
        </div>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->












      <section class="bg-light pt-5 testimony-full">
       
       
          <div class="owl-carousel single-carousel">
  
          
            <div class="container">
              <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                  <h1>Témoignages</h1>
                  <p>Ce qu'ils disent de nous</p><br>
                  <blockquote>
                   
                    <p>&ldquo;Simple, intuitive, complète, la plateforme career bridge offre des services de recrutement qui facilitent la vie aux recruteurs et chercheurs d’emploi en Tunisie..&rdquo;</p>
                    <p><cite> &mdash; Ahmed Ayari</cite></p>
                  </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                  <img src="assets/images/person_transparent_2.png" alt="Image" class="img-fluid mb-0">
                </div>
              </div>
            </div>
  
            <div class="container">
              <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                  <h1>Témoignages</h1>
                  <p>Ce qu'ils disent de nous</p><br>
                  <blockquote>
                    <p>&ldquo;Simple, intuitive, complète, la plateforme career bridge offre des services de recrutement qui facilitent la vie aux recruteurs et chercheurs d’emploi en Tunisie..&rdquo;</p>
                    <p><cite> &mdash; Khaled Mansouri</cite></p>
                  </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                  <img src="assets/images/person_transparent.png" alt="Image" class="img-fluid mb-0">
                </div>
              </div>
            </div>
  
        </div>
  
      </section>
  
       
      <section class="site-section py-4">
        <div class="container">
    
          <div class="row align-items-center">
            <div class="col-12 text-center mt-4 mb-5">
              <div class="row justify-content-center">
                <div class="col-md-7">
                  
                  <h2 class="section-title mb-2">Nos Partenaires</h2>
                  <p class="lead">Nous travaillons avec des partenaires fiables et reconnus sur le marché,
                    dont nous sommes revendeur officiel.</p>
                </div>
              </div>
              
            </div>
            <div class="col-6 col-lg-2 col-md-6 text-center">
              <img src="assets/images/logo_mailchimp.svg" alt="Image" class="img-fluid logo-1">
            </div>
            <div class="col-6 col-lg-2 col-md-6 text-center">
              <img src="assets/images/logo_paypal.svg" alt="Image" class="img-fluid logo-2">
            </div>
            <div class="col-6 col-lg-2 col-md-6 text-center">
              <img src="assets/images/logo_stripe.svg" alt="Image" class="img-fluid logo-3">
            </div>
            <div class="col-6 col-lg-2 col-md-6 text-center">
              <img src="assets/images/logo_visa.svg" alt="Image" class="img-fluid logo-4">
            </div>
  
            <div class="col-6 col-lg-2 col-md-6 text-center">
              <img src="assets/images/logo_apple.svg" alt="Image" class="img-fluid logo-5">
            </div>
            <div class="col-6 col-lg-2 col-md-6 text-center">
              <img src="assets/images/logo_tinder.svg" alt="Image" class="img-fluid logo-6">
            </div>
          
          </div>
        </div>
      </section>
      