.btn-custom {
    background-color:#2474A6;
    color: #2474A6;
  }
  .fa-facebook-square {
    color: white;
  }
  .icon {
    color: white;
  }
  .bi-grid-3x3-gap-fill {
    color: white;
  }
  .white-icon {
    color: white;
  }