<footer class="site-footer"style="background: linear-gradient(120deg,#54bfb5, #033e8c);">

    <a href="#top" class="smoothscroll scroll-top">
      <span class="icon-keyboard_arrow_up"></span>
    </a>

    <div class="container" >
      <div class="row mb-4">
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Espaces</h3>
          <ul class="list-unstyled">
            <li><a href="#">Candidat</a></li>
            <li><a href="#">Recruteur</a></li>
            <li><a href="#">Club</a></li>
            <li><a href="#">Annonceur</a></li>
           
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Services</h3>
          <ul class="list-unstyled">
            <li><a href="candidat">Services pour les candidats</a></li>
            <li><a href="recreture">Services pour les entreprises</a></li>
            <li><a href="club">Services Pour les Clubs</a></li>
            <li><a href="propritaire">Services pour les propriétaire</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>A propos</h3>
          <ul class="list-unstyled">
            <li><a href="propos">Qui sommes-nous?</a></li>
            
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Contact </h3>
          <div class="footer-social">
            <a href="#"><span class="icon-facebook"></span></a>
        
            <a href="#"><span class="icon-instagram"></span></a>
            <a href="#"><span class="icon-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <p class="copyright"><small>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Career Bridge <a href="https://colorlib.com" target="_blank" ></a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>
        </div>
      </div>
    </div>
  </footer>
  

