<section class="section-hero  inner-page fixed;" style="background:#1053BB;" id="home-section">
</section>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>  <!-- .site-mobile-menu -->


<!-- NAVBAR --> 


<header class="site-navbar mt-4">
    

  <div class="container-fluid">
    <div class="row align-items-center">
        <div class="site-logo col-6 "><a href="index.html" ><img src="assets/images/sarra.png" style="width: 100;"alt="" title=""></a></div>

      <nav class="mx-auto site-navigation d-flex aligin-items-center col-5">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/actualiteR">Actualité</a></li>
          <li><a href="offreR">Sponsoring</a></li>
          <li><a href="eventR">Event</a></li>
          <li><a href="coworkingR">Coworking</a></li>
          <li class="nav-item dropdown">
            <a class=" nav-icon"  (click)="showNotifications = !showNotifications">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" [ngClass]="{'show': showNotifications}">
              <li class="dropdown-header ">
                Vous avez 4 nouvelles notifications
                <a href="notificationR"><span class="badge rounded-pill bg-primary p-2 ms-2">Voir tout</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li class="notification-item p-4">
                <div>
                  <h5 style="color: #1053BB ;font-size: 19px;">Wevioo</h5>
                  <p>Un test envoyé par Wevioo vous attent</p>
                  <p class="small-text">30 min. ago</p>
                </div>
              </li>
          
              <li>
                <hr role="tabpanel"class="dropdown-divider">
              </li>
          
              <li class="notification-item p-4 ">
                <div>
                  <h5 style="color: #1053BB  ;font-size: 19px;">CareerBridge</h5>
                  <p>Vous atteint 75 Xp vous pouvez profiter une réduction sur la pack premium</p>
                  <p class="small-text">1 hr. ago</p>
                </div>
              </li>
          
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li class="dropdown-footer p-4">
                <a href="notificationR">Afficher toutes les notifications</a>
              </li>
            </ul>
          </li>         
             <li class="nav-item dropdown">
            <div class="nav-link" id="dropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-grid-3x3-gap-fill large-icon "></i>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropDown">
              <a class="dropdown-item" href="#">Pack premium</a>
              <a class="dropdown-item "style="color: #2474A6;" href="#" >1Xp</a>
             
            </div>
          </li>
          <div class=" d-lg-none nav-item dropdown">
            <div class="nav-link " id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src=" assets/images/a.png" class="img-fluid rounded-circle " style="width: 40px;"> <!-- icône de profil -->
            </div>
            <div class="dropdown-menu " aria-labelledby="profileDropdown">
              <a class="dropdown-item " href="r">Profile</a> <!-- lien vers les paramètres -->
              <a class="dropdown-item " href="parametre">Paramétres</a> <!-- lien vers les paramètres -->

              <a class="dropdown-item " href="login">Déconnexion</a> <!-- lien de déconnexion -->
            </div>
          </div>   
          
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
        
            <div class=" .d-md-none .d-lg-block
            " id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src=" assets/images/a.png" class="img-fluid rounded-circle " style="width: 40px;"> <!-- icône de profil -->
            </div>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="c">Profile</a> <!-- lien vers les paramètres -->
              <a class="dropdown-item " href="parametre">Paramétres</a> <!-- lien vers les paramètres -->

              <a class="dropdown-item" href="login">Déconnexion</a> <!-- lien de déconnexion -->
            </div>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>


</header>



<body id="top">
  <body>

      
 
<!-- Hero Area End -->
      <!-- Job List Area Start -->
      <div class="job-listing-area pt-100 pb-120 ">
          <div class="container1 ml-3">
              <div class="row">
                  <!-- Left content -->
                  <div class="col-xl-3 col-lg-3 col-md-4">
                      <div class="row">
                          
                             
                                  
                              
                                    <div class="profile">
                                      <img src="assets/images/a.png" alt="" class="img-fluid rounded-circle">
                                      <h1 class="text-dark">Adactim</h1>
                                      <h2 class=" small text-dark mt-2 mb-2">adactim@gmail.com </h2>
                                      <h5 class=" small text-muted "><i class="bi bi-geo-alt"></i><a href="index.html">Ariana</a></h5>
                                      <div class="social-links mt-3 text-center"><div class="d-flex justify-content-center rounded-3 p-2 mb-2"
                                          >
                                          <div>
                                             
                                              <p class="mb-0">4</p>
                                              <p class="small text-muted mb-1">Evenement</p>
                                            </div><span class="mx-2">|</span>
                                            <div class="px-3">
                                              
                                              <p class="mb-0">10</p>
                                              <p class="small text-muted mb-1">Offre publieé</p>
                                            </div><span class="mx-2">|</span>
                                            <div>
                                              
                                              <p class="mb-0">15k</p>
                                              <p class="small text-muted mb-1">Abonnés</p>
                                            </div> </div>
                                      </div>
                                    </div>
                                    
              <div class="col-md-6 mt-3 ">           
              <a class="btn   btn-block text-white" style="background-color: #1053BB; "href="c" type="button">Modifier</a>
            </div>
            <div class="col-md-6 mt-3 "> 
              <a class="btn   btn-block text-white" style="background-color: #6c757d; "href="candidaturesR" type="button">Mes Offres</a>
              <br> <br> 
                </div>         <h5 class="text-dark mt-2 mb-2">NOS VALEURS & ENGAGEMENTS </h5>   
                                <p class="small text-muted mb-1">Nos engagements et nos valeurs nous définissent et constituent le moteur de notre développement et la clé de notre réussite. Depuis toujours, nos priorités sont la satisfaction de nos clients, l’apport d’innovation, l’éthique de notre prestation ainsi que le bien être de nos employés.<br><br>    </p> 
                              
                           


                                </div>
                     
                      <!-- Job Category Listing End -->
                

                      </div>
                  






                  <!-- Right content -->
                  <div class="col-xl-9 col-lg-9 col-md-9">
                      <!-- Featured_job_start -->
                      <section class="featured-job-area">
                          <div class="container ">
                              <!-- Count of Job list Start -->
                              <div class="row">
                                  
                                  <div class="col-lg-12">


      
     
  


   

        

           
            

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav  sidebar sidebar-dark accordion"style="background:#1053BB;" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" >
                <div class="sidebar-brand-icon rotate-n-15">
                 
                </div>
                <div class="sidebar-brand-text mx-3">  Mes Offres <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <!-- Divider -->
            <hr class="sidebar-divider">


 <!-- Heading -->
 <div class="sidebar-heading">
  Test
</div>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
   aria-expanded="true" aria-controls="collapseUtilities">
   <span>Mes test</span>
</a>
<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
   data-parent="#accordionSidebar">
   <div class="bg-white py-2 collapse-inner rounded">
  
      
       <a class="collapse-item" href="test">test Marketing</a>
       
   </div>
   <div class="bg-white py-2 collapse-inner rounded">
  
      
    <a class="collapse-item" href="test">test développement</a>
    
</div>
</div>

</li>



<!-- Divider -->
<hr class="sidebar-divider my-0 mb-2" style="color: #f2f2f2;">


            <!-- Heading -->
            <div class="sidebar-heading">
               Offres
            </div>

           <!-- Nav Item - Utilities Collapse Menu -->
           <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities4"
                aria-expanded="true" aria-controls="collapseUtilities4">
                <span>Ingénieur Développement</span>
            </a>
            <div id="collapseUtilities4" class="collapse" aria-labelledby="headingUtilities4"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
               
                   
                    <a class="collapse-item" href="liste">liste En attente</a>
                    
                </div>
            </div>

        </li>

         <!-- Nav Item - Pages Collapse Menu -->
         <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                
                <span>Ui Designe</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="liste">Liste En attente</a>
                  
                </div>
            </div>
        </li>


 <!-- Nav Item - Pages Collapse Menu -->
 <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
        aria-expanded="true" aria-controls="collapse3">
        
        <span>Marketing</span>
    </a>
    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="liste">Liste En attente</a>
          
        </div>
    </div>
</li>




                   </ul>
           
            

           

            

           
           



        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800 mt-5">Tables Profil candidats</h1>
                    <h5 class="card-title"style="color:#1053BB;">Ingénieur Développement</h5>
                    <p>En tant que membre de l’équipe, vous contribuez à des projets de développement de nos produits et solutions pour la clientèle. En premier, vous concevez, implémentez et intégrez des composants logiciels et des solutions complètes, dans le cadre d’un projet.</p>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4 mt-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Filtres</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                    
                                    <thead>
                                        <tr>
                                           
      <!-- Position Column -->
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef> Adresse É-mail </th>
        <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
      </ng-container>
    
    
     

  
                                       
                                    </tr>

                                    <tr>
                                           
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="nom">
                                          <th mat-header-cell *matHeaderCellDef> Nom/Prénom </th>
                                          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                                        </ng-container>
                                      
                                      
                                       
                                  
                                    
                                                                         
                                                                      </tr>
                                </thead>
                               
                                <tbody>
                                    <tr>
                                         <!-- Name Column -->
      <ng-container matColumnDef="cv">
        <th mat-header-cell *matHeaderCellDef>Cv </th>
        <td mat-cell *matCellDef="let element">
          <a href="http://example.com">{{element.cv}}</a>
         </td>
        
        
        
      </ng-container>
    
     
                                       
                                    </tr>
                                    <tr>
                                        <!-- Name Column -->
     <ng-container matColumnDef="lettre">
       <th mat-header-cell *matHeaderCellDef>lettre </th>
       <td mat-cell *matCellDef="let element"> 
        <a href="http://example.com">{{element.lettre}}</a>
      </td>
     </ng-container>
   
    
                                      
                                   </tr>
                                   <tr>
                                    <!-- Name Column -->
 <ng-container matColumnDef="lien">
   <th mat-header-cell *matHeaderCellDef>Lien </th>
   <td mat-cell *matCellDef="let element"> 
    <a href="https://www.adobe.com/fr/express/create/online-portfolio">{{element.lien}}</a>
     </td>
 </ng-container>


                                  
                               </tr>
                                    
                                    <tr>
                                         <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Etat</th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
    
 
                                        
                                        <td></td>
                                        
                                      
                                    </tr>
                                    <tr>
                                             
     <!-- Button Column -->
<ng-container matColumnDef="button">
<th mat-header-cell *matHeaderCellDef>  </th>
<td mat-cell *matCellDef="let element">
<!-- Bouton "Accès" -->
<button class="btn btn-block text-white" style="background-color: #1053BB;width: 80px;" data-toggle="modal" data-target="#myModal">Accès</button>

<!-- Popup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choisir Test</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        
        <select class="form-control">
          <option>test Marketing</option>
          <option>test Développement</option>
        
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-custom text-white" style="color:#1053BB;">Envoyer</button>    
      </div>
    </div>
  </div>
</div>
   
</td>

</ng-container>
                                        
     <!-- Button Column -->
     <ng-container matColumnDef="btn">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
          <button class="btn   btn-block text-white" style="background-color: #6c757d;width: 80px; "href="c" type="button"(click)="onCancel(element)">Eliminé</button>
      
      </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
                                      
                                   
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    </div></div>













                             
         

  
  
  
  
  
  
  
  
  
  
  
  
  









                              
                           
                 



       


   

  
  
  
  
           
                              
                              
                              
                              
                              
                              





                              
                              
                                    
                                        







                 
