<section class="section-hero  inner-page fixed;" style="background: linear-gradient(120deg,#54bfb5, #033e8c);" id="home-section">
</section>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>  <!-- .site-mobile-menu -->


<!-- NAVBAR --> 


<header class="site-navbar mt-4">
    

  <div class="container-fluid">
    <div class="row align-items-center">
        <div class="site-logo col-6 mt-4"></div>
        <div class="site-logo col-6 "><a href="index.html" ><img src="assets/images/sarra.png" style="width: 100;"alt="" title=""></a></div>

      <nav class="mx-auto site-navigation d-flex aligin-items-center col-5">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/candidat">Candidat</a></li>
          <li><a href="recreture">Recruteur</a></li>
          <li><a href="club">Club</a></li>
          <li><a href="/propritaire">Propritaire</a></li>
          <li class="d-lg-none"><a href="/login.html"><span class="mr-2 icon-lock_outline"></span>se connecter</a></li>
          
          
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
         
          <a href="/login" class="btn btn-log border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>se connecter</a>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>


</header>

<body id="top">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
    
        <div class="container">
          
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
  
            <div class="col-md-5">
              <img src="/assets/images/7.jpg"  class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h3> offre d'emploi ou stage</h3>
              <br> 
              <ul>
                <li> Les candidats ont accès à de nombreux services,</li>
                <li>  comme la possibilité de postuler aux offres d'emplois ou de stage.</li>
              
              </ul>
              <p >
              
              </p>
             <br><br> 
              <div class="col-md-3 ">  
                <button class="btn btn-b btn-block text-white btn-sm " type="button">Voir Plus</button>
                <br> <br>
            </div>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
              <img src="assets/img/gallery/2.jpg"  class="img-fluid" alt="">
            </div>
            <div class="col-md-7 order-2 order-md-1">
              <h3>événement</h3>
              <br> 
              <ul>
                <li> La plateforme vous aide à trouver des événements .</li>
                <li> Cela permet de créer des liens et des relations professionnelles</li>
                <li>qui peuvent être bénéfiques pour votre carrière future.</li>
              </ul>
              <p >
                
              </p>
              <br><br> 
              <div class="col-md-3">  
                <button class="btn btn-b btn-block text-white btn-sm" type="button">Voir Plus</button><br> <br> 
             </div>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
            <div class="col-md-5">
              <img src="assets/images/4.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h3>Conseil et Orientation</h3>
              <br>
              <ul>
                <li><i ></i> La plateforme vous fournit des personnes compétentes</li>
                <li><i ></i> pour vous aider à atteindre vos objectifs professionnels ou académiques.</li>
               
              </ul>
              <p></p>
              <br><br> 
              <div class="col-md-3">  
                <button class="btn btn-b btn-block text-white btn-sm" type="button">Voir Plus</button>
                <br> <br> 
             </div>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2 mb-3">
              <img src="assets/images/2.jpg"  class="img-fluid" alt="">
            </div>
            <div class="col-md-7 order-2 order-md-1">
              <h3> espace de travail</h3>
              <br>
              <ul>
                <li><i ></i>Les candidats ont la possibilité de réserver des espaces</li>
                <li><i></i>coworking .</li>
               
              </ul>
              <p></p>
              <br><br> 
              <div class="col-md-3 mb-3">  
                <button class="btn btn-b btn-block text-white btn-sm" type="button">Voir Plus</button><br> <br>
             
            </div>
          </div><!-- Features Item -->
  </div>
        </div>
      </section><!-- End Features Section --></body>