.card {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}

li .card:hover {
    border: 1px solid blue;
}

ol {
    padding: 0;
}
.fa-facebook-square {
    color: white;
  }
  .icon {
    color: white;
  }
  .bi-grid-3x3-gap-fill {
    color: white;
  }
  .white-icon {
    color: white;
  }