<section class="section-hero  inner-page fixed;" style="background:#2474A6;" id="home-section">
</section>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>  <!-- .site-mobile-menu -->


<!-- NAVBAR --> 


<header class="site-navbar mt-4">
    

  <div class="container-fluid">
    <div class="row align-items-center">
        <div class="site-logo col-6 "><a href="index.html" ><img src="assets/images/sarra.png" style="width: 100;"alt="" title=""></a></div>

      <nav class="mx-auto site-navigation d-flex aligin-items-center col-5">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/actualite">Actualité</a></li>
          <li><a href="offre">offre</a></li>
          <li><a href="event">Event</a></li>
          <li><a href="cow">Coworking</a></li>
          <li class="nav-item dropdown">
            <a class=" nav-icon"  (click)="showNotifications = !showNotifications">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" [ngClass]="{'show': showNotifications}">
              <li class="dropdown-header ">
                Vous avez 4 nouvelles notifications
                <a href="notification"><span class="badge rounded-pill bg-primary p-2 ms-2">Voir tout</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li class="notification-item p-4"routerLink="/welcome">
                <div>
                  <h5 style="color: #2474A6 ;font-size: 19px;">Wevioo</h5>
                  <p>Un test envoyé par Wevioo vous attent</p>
                  <p class="small-text">30 min. ago</p>
                </div>
              </li>
          
              <li>
                <hr role="tabpanel"class="dropdown-divider">
              </li>
          
              <li class="notification-item p-4 ">
                <div>
                  <h5 style="color: #2474A6  ;font-size: 19px;">CareerBridge</h5>
                  <p>Vous atteint 75 Xp vous pouvez profiter une réduction sur la pack premium</p>
                  <p class="small-text">1 hr. ago</p>
                </div>
              </li>
          
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li class="dropdown-footer p-4">
                <a href="notificationR">Afficher toutes les notifications</a>
              </li>
            </ul>
          </li>            <li class="nav-item dropdown" style="color: aliceblue;">
            <div class="nav-link" id="dropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-grid-3x3-gap-fill large-icon"></i>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropDown">
              <a class="dropdown-item" href="#">Pack premium</a>
              <a class="dropdown-item "style="color: #2474A6;" href="#" >1Xp</a>
             
            </div>
          </li>
          <div class=" d-lg-none nav-item dropdown">
            <div class="nav-link " id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src=" assets/images/person_2.jpg" class="img-fluid rounded-circle " style="width: 40px;"> <!-- icône de profil -->
            </div>
            <div class="dropdown-menu " aria-labelledby="profileDropdown">
              <a class="dropdown-item " href="c">Profile</a> <!-- lien vers les paramètres -->
              <a class="dropdown-item " href="parametre">Paramétres</a> <!-- lien vers les paramètres -->

              <a class="dropdown-item " href="login">Déconnexion</a> <!-- lien de déconnexion -->
            </div>
          </div>   
          
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
        
            <div class=" .d-md-none .d-lg-block
            " id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src=" assets/images/person_2.jpg" class="img-fluid rounded-circle " style="width: 40px;"> <!-- icône de profil -->
            </div>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="c">Profile</a> <!-- lien vers les paramètres -->
              <a class="dropdown-item " href="parametre">Paramétres</a> <!-- lien vers les paramètres -->

              <a class="dropdown-item" href="login">Déconnexion</a> <!-- lien de déconnexion -->
            </div>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>


</header>



<body id="top">
  <body>

      
 
<!-- Hero Area End -->
      <!-- Job List Area Start -->
      <div class="job-listing-area pt-120 pb-120 ">
          <div class="container1 ml-5">
              <div class="row">
                  <!-- Left content -->
                  <div class="col-xl-3 col-lg-3 col-md-4">
                      <div class="row">
                          
                             
                                  
                              
                                    <div class="profile">
                                      <img src="assets/images/person_2.jpg" alt="" class="img-fluid rounded-circle">
                                      <h1 class="text-dark">Ayar Ahmed</h1>
                                      <h2 class=" small text-dark mt-2 mb-2">ahmed@gmail.com </h2>
                                      <h5 class=" small text-muted "><i class="bi bi-geo-alt"></i><a href="index.html">Tunis</a></h5>
                                      <div class="social-links mt-3 text-center"><div class="d-flex justify-content-center rounded-3 p-2 mb-2"
                                          >
                                          <div>
                                             
                                              <p class="mb-0">4</p>
                                              <p class="small text-muted mb-1">Evenement</p>
                                            </div><span class="mx-2">|</span>
                                            <div class="px-3">
                                              
                                              <p class="mb-0">9</p>
                                              <p class="small text-muted mb-1">vues des projets</p>
                                            </div><span class="mx-2">|</span>
                                            <div>
                                              
                                              <p class="mb-0">8k</p>
                                              <p class="small text-muted mb-1">Abonnés</p>
                                            </div> </div>
                                      </div>
                                    </div>
                                    
              <div class="col-md-6 mt-3 ">           
              <a class="btn   btn-block text-white" style="background-color: #2474A6; "href="c" type="button">Modifier</a>
            </div>
            <div class="col-md-6 mt-3 "> 
              <a class="btn   btn-block text-white" style="background-color: #6c757d; "href="c" type="button">Mes candidatures</a>
              <br> <br> 
                </div>         <h5 class="text-dark mt-2 mb-2">Infos </h5>   
                                <p class="small text-muted mb-1">En tant que concepteur de produits avec 7 ans d'expérience dans l'industrie, j'ai perfectionné mes compétences et suis devenu un expert des derniers projets Web 3.0. Je me spécialise dans la DeFi, les NFT et les projets sociaux et j'ai une compréhension approfondie des défis et des opportunités uniques dans ces domaines. Ma passion pour la conception.<br><br>    </p> 
                              
                           


                                </div>
                     
                      <!-- Job Category Listing End -->
                

                      </div>
                  






                  <!-- Right content -->
                  <div class="col-xl-8 col-lg-8 col-md-8">
                      <!-- Featured_job_start -->
                      <section class="featured-job-area">
                          <div class="container ">
                              <!-- Count of Job list Start -->
                              <div class="row">
                                  
                                  <div class="col-lg-12">


      
     
  
<style>

      /* styling search bar */
      .search input[type=text]{
          width:600px;
          height:25px;
          border:20px;
          border-color: #2474A6;
      }
           
      .search{
          float:center;
          margin:5px;
      }
           
      .search button{
          background-color: #2474A6;
          color: #f2f2f2;
          float: right;
          padding: 5px 10px;
          margin-right: 16px;
          font-size: 12px;
          border: none;
          cursor: pointer;
      }

</style>

<!-- Job Category Listing start -->
<div class="job-category-listing mb-5 ">
<!-- single one -->
<div class="single-listing">
   
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

             

              <!-- Begin Page Content -->
              <div class="container-fluid">

                  <!-- Page Heading -->
                  <h1 class="h3 mb-2 text-gray-800 mt-5">Tables Mes candidatures</h1>
                  
                  <!-- DataTales Example -->
                  <div class="card shadow mb-4 mt-4">
                      <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary">Filtres</h6>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                  
                                  <thead>
                                      <tr>
                                         
      <!-- Position Column -->
      <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Entreprise </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
      
       
  
    
                                         
                                      </tr>
                                  </thead>
                                 
                                  <tbody>
                                      <tr>
                                           <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Offre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
       
                                         
                                      </tr>
                                      <tr>
                                           <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Etat</th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
   
                                          
                                          <td></td>
                                          
                                        
                                      </tr>
                                      <tr>
                                               
       <!-- Button Column -->
<ng-container matColumnDef="button">
  <th mat-header-cell *matHeaderCellDef>  </th>
  <td mat-cell *matCellDef="let element">
      <button class="btn   btn-block text-white" style="background-color: #2474A6;width: 80px; "href="c" type="button"(click)="onCancel(element)">Annuler</button>

  </td>
</ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        
                                     
                                      
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>

              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->


      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  </div>













                                  </div>
                              </div>
                           

         
  
      
   
  
  
  
  
  
  
  
  
  
  
  
  
  









                              
                           
                 



        </div>



   

  
  
  
  
           
                              
                              
                              
                              
                              
                              





                              
                              
                                    
                                        







                 