<section class="section-hero  inner-page fixed;" style="background:#2474A6;" id="home-section">
</section>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>  <!-- .site-mobile-menu -->


<!-- NAVBAR --> 


<header class="site-navbar mt-4">
    

  <div class="container-fluid">
    <div class="row align-items-center">
        <div class="site-logo col-6 "><a href="index.html" ><img src="assets/images/sarra.png" style="width: 100;"alt="" title=""></a></div>

      <nav class="mx-auto site-navigation d-flex aligin-items-center col-5">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/actualite">Actualité</a></li>
          <li><a href="offre">offre</a></li>
          <li><a href="event">Event</a></li>
          <li><a href="cow">Coworking</a></li>
          <li class="nav-item dropdown">
            <a class=" nav-icon"  (click)="showNotifications = !showNotifications">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" [ngClass]="{'show': showNotifications}">
              <li class="dropdown-header ">
                Vous avez 4 nouvelles notifications
                <a href="notification"><span class="badge rounded-pill bg-primary p-2 ms-2">Voir tout</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li class="notification-item p-4"routerLink="/welcome">
                <div>
                  <h5 style="color: #2474A6 ;font-size: 19px;">Wevioo</h5>
                  <p>Un test envoyé par Wevioo vous attent</p>
                  <p class="small-text">30 min. ago</p>
                </div>
              </li>
          
              <li>
                <hr role="tabpanel"class="dropdown-divider">
              </li>
          
              <li class="notification-item p-4 ">
                <div>
                  <h5 style="color: #2474A6  ;font-size: 19px;">CareerBridge</h5>
                  <p>Vous atteint 75 Xp vous pouvez profiter une réduction sur la pack premium</p>
                  <p class="small-text">1 hr. ago</p>
                </div>
              </li>
          
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li class="dropdown-footer p-4">
                <a href="notification">Afficher toutes les notifications</a>
              </li>
            </ul>
          </li>
          
            <li class="nav-item dropdown" style="color: aliceblue;">
            <div class="nav-link" id="dropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-grid-3x3-gap-fill large-icon"></i>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropDown">
              <a class="dropdown-item" href="#">Pack premium</a>
              <a class="dropdown-item "style="color: #2474A6;" href="#" >1Xp</a>
             
            </div>
          </li>
          <div class=" d-lg-none nav-item dropdown">
            <div class="nav-link " id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src=" assets/images/person_2.jpg" class="img-fluid rounded-circle " style="width: 40px;"> <!-- icône de profil -->
            </div>
            <div class="dropdown-menu " aria-labelledby="profileDropdown">
              <a class="dropdown-item " href="c">Profile</a> <!-- lien vers les paramètres -->
              <a class="dropdown-item " href="parametre">Paramétres</a> <!-- lien vers les paramètres -->

              <a class="dropdown-item " href="login">Déconnexion</a> <!-- lien de déconnexion -->
            </div>
          </div>   
          
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
        
            <div class=" .d-md-none .d-lg-block
            " id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src=" assets/images/person_2.jpg" class="img-fluid rounded-circle " style="width: 40px;"> <!-- icône de profil -->
            </div>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="c">Profile</a> <!-- lien vers les paramètres -->
              <a class="dropdown-item " href="parametre">Paramétres</a> <!-- lien vers les paramètres -->

              <a class="dropdown-item" href="login">Déconnexion</a> <!-- lien de déconnexion -->
            </div>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>


</header>










<body id="top">
<body>
    
   
    <main>

        <section>
            <!-- Hero Area Start-->
            <div class="slider-area ">
                <div class="single-slider section-overly slider-height2 d-flex align-items-center" style="background-image: url('assets/images/7.jpg');" id="home-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-15">
                             
                                    <div class="mb-5 text-center">
                                        <h1 class="text-white font-weight-bold">Offre d'emploi ou stage</h1>
                                        <p class="text-light ">Élargissez votre champ d'action en rencontrant des professionnels de votre domaine et en explorant de nouvelles possibilités.</p>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="assets/images/R.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h5>Ingénieur Sécurité
                                        </h5>
                                    </a>
                                    <ul>
                                        <li>Evaluer la sécurité d’infrastructures Exploitation</li>
                                        <li><i class="bi bi-geo-alt"></i>Ariana</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h5 style="color: #2474A6;">Description de l'emploi</h5>
                                </div>
<p>En tant que membre de l’équipe, vous contribuez à des projets de développement de nos produits et solutions pour la clientèle.
    En premier, vous concevez, implémentez et intégrez des composants logiciels et des solutions complètes, dans le cadre d’un projet. En second, vous qualifiez et intégrez des composants matériels et logiciels tiers, principalement dans le domaine de l’acquisition de données biométriques (caméras numériques, scanners d’empreintes digitales), de la personnalisation et de l’impression de documents sécurisés et des applications. Pour finir, vous concevez et mettez en œuvre un logiciel de démonstration et de validation de concept pour le souper d’avant-vente.</p>                                </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4 style="color: #2474A6;">Profile</h4>
                                </div>
                               <ul>
                                   <li>De formation Bac+5 en en informatique ou titulaire d'un diplôme d'ingénieur</li>
                                   <li>Vous justifiez d’une expérience de 2 ans minimum en développement de solution Java/JEE</li>
                                   <li>Vous êtes à l’aise avec les langages et Frameworks suivants : Java, Java JEE, Spring, EJB, Java FX</li>
                                   <li>Vous maîtrisez les technologies WEB suivantes : JSP/Servlet, HTML/XML, SOAP</li>
                                   <li>Vous maîtrisez la base de données suivante : Windows API, Oracle, SQL, ODBC/JDBC</li>
                               </ul>
                            </div>
                           
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4 style="color: #2474A6;">Aperçu du poste
                            </h4>
                           </div>
                          <ul>
                              <li>Date de publication : <span>28/4/2023</span></li>
                              <li>localisation : <span>Ariana</span></li>
                           
                              <li>Nature du travail : <span>temps plein
                            </span></li>
                              <li>Salaire :  <span>1500dt</span></li>
                              
                          </ul>
                          
                          <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-custom text-white" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Postuler</button>
                            
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Réservation de l’espace </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form>
                                      <div *ngIf="showForm">
                                        <h4 style="color: #2474A6;" class="condidat">Condidature pour l'offre</h4>
                    
                                        <label>Lien portfolio</label>
                                        <input type="text" class="form-control" name="protfolio" placeholder="https://exemple.com">
                    
                                        <label class=" mt-4">Importer CV</label>
                                        <input type="file" class="form-control" name="cv" placeholder="">
                    
                                        <label class=" mt-4">Lettre de motivation</label>
                                        <input type="file" class="form-control" name="lettre" placeholder="">
                    
                    
                                      </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <button type="button" class="btn btn-custom text-white" style="color:#2474A6;">Envoyer</button>                                             </div>
                                </div>
                              </div>
                            </div></div>
                       </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

    </main>
