
<section class="section-hero  inner-page fixed;" style="background: linear-gradient(120deg,#54bfb5, #033e8c);" id="home-section">
</section>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>  <!-- .site-mobile-menu -->


<!-- NAVBAR --> 


<header class="site-navbar mt-4">
    

  <div class="container-fluid">
    <div class="row align-items-center">
        <div class="site-logo col-6 mt-4"><a href="index.html" ><img src="assets/images/br.png" style="width: 140;"alt="" title=""></a></div>

      <nav class="mx-auto site-navigation d-flex aligin-items-center col-4">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/candidat">Candidat</a></li>
          <li><a href="recreture">Recruteur</a></li>
          <li><a href="club">Club</a></li>
          <li><a href="/propritaire">Propritaire</a></li>
          <li class="d-lg-none"><a href="/login.html"><span class="mr-2 icon-lock_outline"></span>se connecter</a></li>
          
          
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
         
          <a href="/login" class="btn btn-log border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>se connecter</a>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>


</header>





    
    <div class="container mt-4">
      
      <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

        <div class="col-md-6 ml-2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fu5fiQOVDnE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-5 ml-5">
          <h1> Qui Somme Nous?</h1>
          
          
           <p> <i class="bi bi-check"></i>La plateforme de réseautage « Carrer Bridge » est une opportunité en or du networking qui facilite le matching entre les stagiaires, </p>
           <p> <i class="bi bi-check"></i> les jeunes diplômées et les entreprises aussi bien les clubs qui ont besoins des sponsors, coworking spaces.</p>
          
        </div> 
         </div>
         
 <!-- ======= Values Section ======= -->
 
 <section id="values" class="values ">

    <div class="container" data-aos="fade-up">

        <section id="schedule">
            <div class="container" data-aos="fade-up">
              <div class="section-header ">
                <h2>Nos Valeurs</h2>
               
              </div>
       
    
<section>
      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/images/handshake.png" class="img-fluid" alt="">
            <h3>Collaboration</h3>
            <p>La collaboration est une valeur clé pour notre plateforme pour aider les utilisateurs à trouver des opportunités de carrière, à établir des relations professionnelles.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/images/collaboration.png" class="img-fluid" alt="">
            <h3>Connectivité</h3>
            <p>On garantie la connectivité pour se connecter avec un réseau plus large de professionnels, d'entrepreneurs et d'autres membres de la communauté.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/images/flexible.png" class="img-fluid" alt="">
            <h3>Flexibilité</h3>
            <p>la flexibilité est une valeur importante pour nous car elle permet aux utilisateurs de personnaliser leur expérience, adapter aux besoins changeants.</p>
          </div>
        </div>

      </div>
    </section>
    </div>

  </section><!-- End Values Section -->













 <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Localisation:</h4>
              <p>Lac 1 level 1 2236 Tunis, Tunisie</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>9antra@example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Numéro:</h4>
              <p>+216 26881955</p>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d102096.91210803339!2d10.056739856726072!3d36.90162629480617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d36.8771072!2d10.194124799999999!4m3!3m2!1d36.922449799999995!2d10.1067352!5e0!3m2!1sfr!2stn!4v1680784101468!5m2!1sfr!2stn" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Nom et prénom</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Adresse E-mail</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Sujet</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Chargement</div>
              <div class="error-message"></div>
              <div class="sent-message">Votre message a été envoyé. Merci!</div>
            </div>
            <div class="text-center"><button type="submit">Envoyer </button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->