<section class="section-hero  inner-page fixed;" style="background:#1053BB;" id="home-section">
</section>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>  <!-- .site-mobile-menu -->


<!-- NAVBAR --> 


<header class="site-navbar mt-4">
    

  <div class="container-fluid">
    <div class="row align-items-center">
        <div class="site-logo col-6 "><a href="index.html" ><img src="assets/images/sarra.png" style="width: 100;"alt="" title=""></a></div>

      <nav class="mx-auto site-navigation d-flex aligin-items-center col-5">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/actualiteR">Actualité</a></li>
          <li><a href="offreR">Sponsoring</a></li>
          <li><a href="eventR">Event</a></li>
          <li><a href="coworkingR">Coworking</a></li>
          <li class="nav-item dropdown">
            <a class=" nav-icon"  (click)="showNotifications = !showNotifications">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">4</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" [ngClass]="{'show': showNotifications}">
              <li class="dropdown-header ">
                Vous avez 4 nouvelles notifications
                <a href="notificationR"><span class="badge rounded-pill bg-primary p-2 ms-2">Voir tout</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li class="notification-item p-4">
                <div>
                  <h5 style="color: #1053BB ;font-size: 19px;">Wevioo</h5>
                  <p>Un test envoyé par Wevioo vous attent</p>
                  <p class="small-text">30 min. ago</p>
                </div>
              </li>
          
              <li>
                <hr role="tabpanel"class="dropdown-divider">
              </li>
          
              <li class="notification-item p-4 ">
                <div>
                  <h5 style="color: #1053BB ;font-size: 19px;">CareerBridge</h5>
                  <p>Vous atteint 75 Xp vous pouvez profiter une réduction sur la pack premium</p>
                  <p class="small-text">1 hr. ago</p>
                </div>
              </li>
          
              <li>
                <hr class="dropdown-divider">
              </li>
          
              <li class="dropdown-footer p-4">
                <a href="notificationR">Afficher toutes les notifications</a>
              </li>
            </ul>
          </li>            <li class="nav-item dropdown" style="color: aliceblue;">
            <div class="nav-link" id="dropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-grid-3x3-gap-fill large-icon"></i>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropDown">
              <a class="dropdown-item" href="#">Pack premium</a>
              <a class="dropdown-item "style="color: #2474A6;" href="#" >1Xp</a>
             
            </div>
          </li>
          <div class=" d-lg-none nav-item dropdown">
            <div class="nav-link " id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src=" assets/images/a.png" class="img-fluid rounded-circle " style="width: 40px;"> <!-- icône de profil -->
            </div>
            <div class="dropdown-menu " aria-labelledby="profileDropdown">
              <a class="dropdown-item " href="r">Profile</a> <!-- lien vers les paramètres -->
              <a class="dropdown-item " href="parametre">Paramétres</a> <!-- lien vers les paramètres -->

              <a class="dropdown-item " href="login">Déconnexion</a> <!-- lien de déconnexion -->
            </div>
          </div>   
          
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
        
            <div class=" .d-md-none .d-lg-block
            " id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src=" assets/images/a.png" class="img-fluid rounded-circle " style="width: 40px;"> <!-- icône de profil -->
            </div>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="c">Profile</a> <!-- lien vers les paramètres -->
              <a class="dropdown-item " href="parametre">Paramétres</a> <!-- lien vers les paramètres -->

              <a class="dropdown-item" href="login">Déconnexion</a> <!-- lien de déconnexion -->
            </div>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>


</header>




<!--== Start Page Header Area Wrapper ==-->
<div class="page-header-area sec-overlay sec-overlay-black">
  <div class="container pt--0 pb--0">
    <div class="row">
      <div class="col-12">
        <div class="page-header-content">
          <form action="upload.php" method="post" enctype="multipart/form-data">
            <label for="file-upload">
              <img class="upload" src="assets/images/photo.png">
            </label>
            <input id="file-upload" type="file">

          </form>
          <h4 class="text-white font-weight-bold">Ajouter une image de bannière
            Dimensions optimales 3200 x 410px</h4>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="body">
  <div class="profile text-center">
    <div class="row mb-3">
      <img src="assets/images/logo.png" class="profile-pic">
    </div>
    <p class="name">
      Wevioo
    </p>
    <p class="email">
      <a href="mailto:{{'wevioo@gmail.com'}}">wevioo@gmail.com</a>

    </p>
    <div class="localisation">
      <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9 11.2308C10.7673 11.2308 12.2 9.92206 12.2 8.30769C12.2 6.69332 10.7673 5.38462 9 5.38462C7.23269 5.38462 5.8 6.69332 5.8 8.30769C5.8 9.92206 7.23269 11.2308 9 11.2308Z"
          stroke="black" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M17 8.30769C17 14.8846 9 20 9 20C9 20 1 14.8846 1 8.30769C1 6.36957 1.84285 4.51083 3.34315 3.14037C4.84344 1.76992 6.87827 1 9 1C11.1217 1 13.1566 1.76992 14.6569 3.14037C16.1571 4.51083 17 6.36957 17 8.30769Z"
          stroke="black" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <p> Tunis</p>
    </div>
    <div class="bg-c-green counter-block m-t-10 p-20">
      <div class="row">
        <div class="col-4">

          <p>1256 events</p>
        </div>
        <div class="col-4">

          <p>8562 offees</p>
        </div>
        <div class="col-4">

          <p>189 k</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 mr-4 ml-4">
        <button class="buttons">Modifier</button>
      </div>

      <div class="col-5">
        <button class="buttons1"   routerLink="/candidaturesR" >Mes Offres</button>
      </div>
    </div>



    <p class="name" style="color: gray">
      Afficher le profil en tant que sponsor
      <button class="toggle-btn" (click)="toggleButton()">
        <span class="toggle-icon" [ngClass]="{'active': isToggled}"></span>
      </button>
    </p>


    <form>
      <p class="text-left titles mt-4">Information de Base</p>
      <div class="row">
        <div class="col-5 mr-4 ml-4">
          <label>Fondée en</label>
          <input type="text" class="form-control">
        </div>

        <div class="col-5">
          <label>Site Web</label>
          <input type="text" class="form-control" placeholder="https://wwww.exemple.com...">
        </div>
      </div>
      <div class="row">
        <div class="col-11 ml-4">
          <label class="label1">Siége Social </label>
          <input type="text" class="form-control">
        </div>
        <div class="col-11 ml-4">
          <label class="label1"> Services </label>
          <input type="text" class="form-control" placeholder="Ex: Consulting...">
        </div>
      </div>
      <div class="row">
        <div class="col-5 mr-4 ml-4">
          <label class="zone ml-1">Gouvernorat</label>
          <select class="form-control">
            <option value="0"></option>

            <option value="0">ARIANA</option>
            <option value="0">BEJA</option>
            <option value="0">BENAROUS</option>
            <option value="0">BIZERTE</option>
            <option value="0">GABES</option>
            <option value="0">GAFSA</option>
            <option value="0">JENDOUBA</option>
            <option value="0">KAIROUAN</option>
            <option value="0">KASSERINE</option>
            <option value="0">KEBILI</option>
            <option value="0">KEF</option>
            <option value="0">MAHDIA</option>
            <option value="0">MANOUBA</option>
            <option value="0">MEDNINE</option>
            <option value="0">MONASTIR</option>
            <option value="0">NABEUL</option>
            <option value="0">SFAX</option>
            <option value="0">SIDI BOUZID</option>
            <option value="0">SILIANA</option>
            <option value="0">SOUSSE</option>
            <option value="0">TATOUINE</option>
            <option value="0">TOZEUR</option>
            <option value="0">TUNIS</option>
            <option value="0">ZAGHOUAN</option>

          </select>

        </div>

        <div class="col-5">
          <label>Ville</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <p class="text-left titles mt-4">Section personalisé</p>
      <div class="row">
        <div class="col-11 ml-4">
          <label class="label1">Titre de section</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-11 ml-4">
          <label class="label1">Description</label>
          <textarea class="form-control"></textarea>
        </div>
      </div>
      <button class="buttons mt-3">OK</button>



      <p class="text-left titles mt-4">A propos de moi</p>
      <div class="row">
        <div class="col-11 ml-4">
          <label class="label2">Titre</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-11 ml-4">
          <label class="label2">Détails</label>
          <textarea class="form-control"></textarea>
        </div>
      </div>
    </form>

    <div class="main">
      <div class="row">
        <div class="section-title">Vidéo Représentative</div>
        <div class="project pt-5">
          <a>
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.5833 26H36.4167M26 15.5833V36.4167M51 26C51 39.8071 39.8071 51 26 51C12.1929 51 1 39.8071 1 26C1 12.1929 12.1929 1 26 1C39.8071 1 51 12.1929 51 26Z"
                stroke="black" stroke-opacity="0.68" stroke-width="2" stroke-linecap="round" />
            </svg>
            <p class="ajout">Ajouter Video</p>
            <input type="file" (change)="onFileSelected($event)">

          </a>
        </div>
      </div>

      <div class="row mt-5 offer-section">
        <div class="section-title-second">Offres d’emploi récemment publiées</div>
        <div class="row">
          <div class="col-6 offer">
            <input type="text" placeholder="Titre Offer" class="form-control mt-2">
            <textarea placeholder="Description" class="form-control mt-2"> </textarea>
            <!-- <input type="text" placeholder="Description" class="form-control mt-2"> -->
            <button class="buttons mt-4"> Publier </button>
            <!-- <div class="row mt-5">
              <div class="col">
                <a>
                  <svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M11.5 1.68262C4 1.68262 1 9.58574 1 9.58574C1 9.58574 4 17.4871 11.5 17.4871C19 17.4871 22 9.58574 22 9.58574C22 9.58574 19 1.68262 11.5 1.68262Z"
                      stroke="#1053BB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M11.5 13.976C13.5711 13.976 15.25 12.0104 15.25 9.5858C15.25 7.16119 13.5711 5.19566 11.5 5.19566C9.42893 5.19566 7.75 7.16119 7.75 9.5858C7.75 12.0104 9.42893 13.976 11.5 13.976Z"
                      stroke="#1053BB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
              <div class="col">
                <a>
                  <svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M7.50852 25.5848H1.92979C1.68319 25.5848 1.4467 25.4701 1.27233 25.266C1.09796 25.0619 1 24.785 1 24.4963V18.4161C1 18.2732 1.02405 18.1316 1.07078 17.9996C1.1175 17.8675 1.18599 17.7475 1.27233 17.6464L15.2192 1.31882C15.3935 1.11468 15.63 1 15.8766 1C16.1232 1 16.3597 1.11468 16.5341 1.31882L21.7277 7.39899C21.902 7.60313 22 7.87999 22 8.16868C22 8.45737 21.902 8.73424 21.7277 8.93838L7.50852 25.5848ZM7.50852 25.5848H21.4553M7.50852 25.5848L1.05916 18.0345M12.1575 4.90316L18.666 12.5227"
                      stroke="#1053BB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
              <div class="col">
                <a>
                  <svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.3641 11.2437V19.4386M8.63683 11.2437V19.4386M22 5.09747L1 5.09748M20.0914 5.09747V24.5605C20.0914 24.8321 19.9908 25.0927 19.8118 25.2848C19.6328 25.4769 19.39 25.5848 19.1368 25.5848H3.8641C3.61094 25.5848 3.36815 25.4769 3.18914 25.2848C3.01013 25.0927 2.90956 24.8321 2.90956 24.5605V5.09747M16.2732 5.09747V3.04873C16.2732 2.50538 16.0721 1.98427 15.714 1.60006C15.356 1.21585 14.8704 1 14.3641 1H8.63683C8.13051 1 7.64492 1.21585 7.2869 1.60006C6.92888 1.98427 6.72774 2.50538 6.72774 3.04873V5.09747"
                      stroke="#1053BB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div> -->
          </div>
          <div class="col-6 offer">
            <img src="assets/images/logo.png" class="logo-offer">

            <div class="title-offer">Ingénieur Développement</div>
            <div class="city">Tunis </div>
            <div class="time"> il y a 2 jours</div>

            <div class="row mt-2">
              <div class="col">
                <a>
                  <svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M11.5 1.68262C4 1.68262 1 9.58574 1 9.58574C1 9.58574 4 17.4871 11.5 17.4871C19 17.4871 22 9.58574 22 9.58574C22 9.58574 19 1.68262 11.5 1.68262Z"
                      stroke="#1053BB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M11.5 13.976C13.5711 13.976 15.25 12.0104 15.25 9.5858C15.25 7.16119 13.5711 5.19566 11.5 5.19566C9.42893 5.19566 7.75 7.16119 7.75 9.5858C7.75 12.0104 9.42893 13.976 11.5 13.976Z"
                      stroke="#1053BB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
              <div class="col">
                <a>
                  <svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M7.50852 25.5848H1.92979C1.68319 25.5848 1.4467 25.4701 1.27233 25.266C1.09796 25.0619 1 24.785 1 24.4963V18.4161C1 18.2732 1.02405 18.1316 1.07078 17.9996C1.1175 17.8675 1.18599 17.7475 1.27233 17.6464L15.2192 1.31882C15.3935 1.11468 15.63 1 15.8766 1C16.1232 1 16.3597 1.11468 16.5341 1.31882L21.7277 7.39899C21.902 7.60313 22 7.87999 22 8.16868C22 8.45737 21.902 8.73424 21.7277 8.93838L7.50852 25.5848ZM7.50852 25.5848H21.4553M7.50852 25.5848L1.05916 18.0345M12.1575 4.90316L18.666 12.5227"
                      stroke="#1053BB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
              <div class="col">
                <a>
                  <svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.3641 11.2437V19.4386M8.63683 11.2437V19.4386M22 5.09747L1 5.09748M20.0914 5.09747V24.5605C20.0914 24.8321 19.9908 25.0927 19.8118 25.2848C19.6328 25.4769 19.39 25.5848 19.1368 25.5848H3.8641C3.61094 25.5848 3.36815 25.4769 3.18914 25.2848C3.01013 25.0927 2.90956 24.8321 2.90956 24.5605V5.09747M16.2732 5.09747V3.04873C16.2732 2.50538 16.0721 1.98427 15.714 1.60006C15.356 1.21585 14.8704 1 14.3641 1H8.63683C8.13051 1 7.64492 1.21585 7.2869 1.60006C6.92888 1.98427 6.72774 2.50538 6.72774 3.04873V5.09747"
                      stroke="#1053BB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>


        </div>

        <div class="row1 mt-5 pub-event">
          <div class="section-title-third">Publier un event</div>
          <div class="card">
            <div class="ajout1"><a>+ Ajouter nom event</a></div>
            <div class="ajout2"><a>+ Ajouter caption</a></div>
            <img src="assets/images/wrapper.png" class="upload-event">
            <input type="file" class="upload-1 mt-5">
            <button class="buttons mt-5 margin-button">Publier</button>
          </div>

        </div>

        <div class="row1 mt-5 pub-event">
          <div class="section-title-fourth">Récement publiée</div>
          <div class="card1">
            <div class="*row">
              <div class="col-5">
                <div class="desc"> PRISTINI School Of AI and JEENISo launch the 1st edition of the Start It Up Hackathon.</div>
                <img src="assets/images/Rectangle_44.png" class="event-pic">
                <div class="desc1">A 24-hour marathon where teams compete, to create and develop the PROJECTS of
                  tomorrow around Artificial Intelligence!</div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- <div class="projects">
      <div class="section-title"></div>
      <div class="project pt-5">
        <a>
          <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.5833 26H36.4167M26 15.5833V36.4167M51 26C51 39.8071 39.8071 51 26 51C12.1929 51 1 39.8071 1 26C1 12.1929 12.1929 1 26 1C39.8071 1 51 12.1929 51 26Z"
              stroke="black" stroke-opacity="0.68" stroke-width="2" stroke-linecap="round" />
          </svg>
          <p class="ajout">Ajouter video Presentatif</p>
          <input type="file" (change)="onFileSelected($event)">
        </a>
      </div>

    </div> -->
    <!-- <div class="project1 pt-5">
      <a>

        <p class="ajout">publier nouveau offre</p>

        <form>


          <div class="row">
            <div class="col-11 ml-4">
              <label class="label1">Poste du travail</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-11 ml-4">
              <label class="label1">Description</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <button class="buttons mt-3">OK</button>
        </form>

      </a>
    </div> -->

    <!-- <div class="project2 pt-5">
      <a>
        <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.5833 26H36.4167M26 15.5833V36.4167M51 26C51 39.8071 39.8071 51 26 51C12.1929 51 1 39.8071 1 26C1 12.1929 12.1929 1 26 1C39.8071 1 51 12.1929 51 26Z"
            stroke="black" stroke-opacity="0.68" stroke-width="2" stroke-linecap="round" />
        </svg>
        <p class="ajout">Ajouter photos</p>
        <input type="file" (change)="onFileSelected($event)">
      </a>



      <form>


        <div class="row">
          <div class="col-11 ml-4">
            <label class="label1"></label>
            <input type="text" class="form-control" placeholder="Nom evenements">
          </div>
        </div>
        <div class="row">
          <div class="col-11 ml-4">
            <label class="label1">....</label>
            <textarea class="form-control" placeholder="Description de l'évenement"></textarea>
          </div>
        </div>
        <button class="buttons mt-3">OK</button>
      </form>
    </div> -->
  </div>
</div>
 
                    <!-- Right content -->
                    <div class="col-xl-6 col-lg-6 col-md-8">
                        <!-- Featured_job_start -->
                        <section class="featured-job-area">
                            <div class="container ">
                                <!-- Count of Job list Start -->
                                <div class="row">
                                    
                                    <div class="col-lg-12">


        

       
    
<style>

        /* styling search bar */
        .search input[type=text]{
            width:600px;
            height:25px;
            border:20px;
            border-color: #0470b7;
        }
             
        .search{
            float:center;
            margin:5px;
        }
             
        .search button{
            background-color: #0074D9;
            color: #f2f2f2;
            float: right;
            padding: 5px 10px;
            margin-right: 16px;
            font-size: 12px;
            border: none;
            cursor: pointer;
        }

</style>



                                
                             
                   


